<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://erpplusplus.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>erpplusplus.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>erpplusplus</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$erpplusplus</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:k1nf6924gl.database.windows.net,1433;Initial Catalog=erpplusplusdemo_db;Persist Security Info=True;User ID=hayan@k1nf6924gl;Password=gGWQ9-ns" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ECommerce.Models.ApplicationDbContext, ECommerce" MigrationConfiguration="ECommerce.Migrations.Configuration, ECommerce" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:k1nf6924gl.database.windows.net,1433;Initial Catalog=erpplusplusdemo_db;Persist Security Info=True;User ID=hayan@k1nf6924gl;Password=gGWQ9-ns</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>